<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Company Name</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Unique-<span>Q</span></h1>
            <nav>
                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="/components/products/products.html">Products</a></li>
                    <li><a href="/components/contact/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="about-us">
            <div class="containerab">
                <h2>About <span>Us</span></h2>
                <p>At Unique-Q Tech India Pvt Ltd, we take pride in our reputation as a leading manufacturer in the industry. With a commitment to excellence, innovation, and customer satisfaction, we have established ourselves as a trusted name in the market.</p>
      
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; unique-Q tech. All rights reserved.</p>
        </div>
    </footer>

    <script src="/script.js"></script>
</body>
</html>
